/* Shop.css */

.shop {
    padding: 20px;
}

.vegetable-list {
    display: flex;
    flex-wrap: wrap;
}

.vegetable-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
}

    .vegetable-item h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .vegetable-item p {
        margin: 5px 0;
    }
